<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.dataTables.css' />    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/jquery.dataTables.min.js"></script>
    <script src="/javascripts/myscript.js"></script>
  </head>
  <body>
    <div id="welcome">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <div id="controls"></div>
    <table id="table_id">
      <thead>
        <tr>
          <% for (var key in files[0]) { %>
            <% if (key !== 'songID' && key !== 'ext') { %>
              <th><%= key %></th>
            <% } %>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0, len = files.length; i < len; i++) { %>
          <tr>
            <% for (var key in files[i]) { %>
              <% if (key !== 'songID' && key !== 'ext') { %>
                <td>
                  <% if (key === 'title') { %>
                    <a class="song_title" href="#" data-songid="<%= files[i].songID %>" data-ext="<%= files[i].ext %>">
                  <% } %>
                  <%= files[i][key] %>
                  <% if (key === 'title') { %>
                    </a>
                  <% } %>
                </td>
              <% } %>
            <% } %>
          </tr>
        <% } %>
      <tbody>
    </table>
  </body>
</html>